.p-icon-field > .p-input-icon {
    position: absolute;
    top: 50%;
    margin-top: -14px;
}
.p-icon-field-right > .p-inputtext {
    padding-right: 6rem;
}

@media screen and (max-width: 767px) {
    .sign-page{
        width: 280px !important;
    }
    .p-icon-field-right > .p-inputtext {
        padding-right: 1.6rem !important;
    }
}

@media screen and (min-width: 768px) and  (max-width: 1023px) {
    
}